.about {
  padding-bottom: 0;
  background-color: $background-color;
  background-repeat: no-repeat;

  background-image: url('../images/about/about-mob1x-milk.png');
  background-size: 100%;
  background-position: top 590px left 0;
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/about/about-mob2x-milk.png');
  }
  @include mobile {
    background-image: none;
  }
  @include tablet {
    background-image: none;
  }
  @include desktop {
    background-image: url('../images/about/about-desk2x-milk.png');

    background-position: top 236px left 0px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/about/about-desk3x-milk.png');
    }
    @media screen and(min-width: 1500px) {
      background-position: top 110px left 0px;
    }
  }
}

.about__box {
  display: block;
  @include tablet {
    display: flex;
    align-items: flex-start;
  }
  @include desktop {
    align-items: flex-end;
  }
}

.about__pre-title {
  font-family: 'Titan One';
  @include font(null, 18px, 1.16, null);
  text-align: center;
  text-transform: uppercase;
  color: $pre-title-color;
  margin-bottom: 15px;
  @include mobile {
    font-size: 20px;
  }
  @include tablet {
    @include font(null, 26px, 1.15, null);
    margin-bottom: 16px;
  }
  @include desktop {
    @include font(null, 30px, 1.13, 0.04em);

    margin-bottom: 16px;
  }
}

.about__title {
  font-family: 'Titan One';
  @include font(null, 34px, 1.14, 0.04em);
  font-size: 34px;
  text-align: center;
  text-transform: uppercase;
  color: $title-text-color;
  margin-bottom: 32px;
  @include mobile {
    @include font(null, 40px, 1.15, null);
    margin-bottom: 32px;
  }
  @include tablet {
    font-size: 48px;
    margin-bottom: 40px;
  }
  @include desktop {
    @include font(null, 58px, 1.13, 0.06em);
    margin-bottom: 60px;
  }
}

.about__picture {
  display: flex;
  width: 280px;
  margin-bottom: 40px;
  @include mobile {
    width: 310px;
    margin-bottom: 45px;
  }

  @include tablet {
    width: 336px;

    margin-right: 32px;
    margin-left: 32px;
  }
  @include desktop {
    width: 501px;
    margin-right: 99px;
    margin-left: 16px;
  }
}

.about__content {
  padding-bottom: 40px;

  @include tablet {
    padding-bottom: 60px;
  }
  @include desktop {
    padding-bottom: 121px;
  }
}

.about__after-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: $secondary-text-color-dark;
  margin-bottom: 26px;
  min-width: 220px;
  padding: 0 80px 0 0;
  @include mobile {
    font-size: 13px;
    line-height: 1.68;
    margin-bottom: 26px;
    max-width: 334px;
    padding: 0;
  }
  @include tablet {
    font-size: 14px;
    line-height: 1.78;
    margin-bottom: 23px;
    max-width: 334px;
  }
  @include desktop {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
    max-width: 463px;
  }
}

.about__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: $secondary-text-color;
  margin-bottom: 10px;
  min-width: 220px;
  padding: 0 80px 0 0;
  @include mobile {
    font-size: 13px;
    line-height: 1.68;
    letter-spacing: 0.04em;
    margin-bottom: 10px;
    max-width: 334px;
    padding: 0;
  }
  @include tablet {
    font-size: 14px;
    line-height: 1.78;
    letter-spacing: 0.04em;
    margin-bottom: 10px;
    max-width: 334px;
  }
  @include desktop {
    font-size: 14px;
    line-height: 1.92;
    letter-spacing: 0.04em;
    margin-bottom: 27px;
    max-width: 463px;
  }
}

.about__text-after {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: $secondary-text-color;
  margin-bottom: 20px;
  min-width: 220px;
  padding: 0 80px 0 0;
  @include mobile {
    font-size: 13px;
    line-height: 1.68;
    letter-spacing: 0.04em;
    margin-bottom: 26px;
    max-width: 334px;
    padding: 0;
  }
  @include tablet {
    font-size: 14px;
    line-height: 1.78;
    letter-spacing: 0.04em;
    margin-bottom: 40px;
    max-width: 334px;
  }
  @include desktop {
    font-size: 14px;
    line-height: 1.92;
    letter-spacing: 0.04em;
    margin-bottom: 40px;
    max-width: 463px;
  }
}

.about__open-btn {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  cursor: pointer;
  min-width: 176px;
  height: 44px;

  color: $title-text-color;
  background-color: $text-color;
  border-radius: 22px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $btn-hover-color;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  @include mobile {
    font-size: 15px;
    line-height: 1.29;
  }
  @include tablet {
    font-size: 16px;
    line-height: 1.31;
  }
  @include desktop {
    font-size: 16px;
    line-height: 1.31;
  }
}

.about__open-icon {
  width: 6.5px;
  height: 10px;
  margin-left: 14px;
}

.overlay {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

.about__modal {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  text-align: center;
  padding: 20px;
  border-radius: 3px;
  background-color: transparent;
  transition: 0.3s all;
}

.about__modal-content {
  background-color: #e498b6;
  border-radius: 1em/5em;
  width: 250px;
  @include mobile {
    width: 410px;
  }
  @include tablet {
    width: 500px;
  }
  @include desktop {
    width: 600px;
  }
}

.about__modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}

.about__modal-content .about__modal-close {
  top: 5px;
  right: 5px;
  fill: #9e052b;
  &:hover {
    fill: #f5f8f7;
  }
}

.about__modal-text {
  font-weight: 500;
  font-size: 11px;
  line-height: 1.58;
  color: #f5f8f7;
  text-align: center;
  letter-spacing: 0.04em;
  @include mobile {
    font-size: 12px;
    line-height: 1.68;
  }
  @include tablet {
    font-size: 13px;
    line-height: 1.78;
  }
  @include desktop {
    font-size: 15px;
    line-height: 1.8;
  }
}
