@import '~node_modules/modern-normalize/modern-normalize.css';

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
  @media screen and(min-width: 320px) {
    width: 100%;
  }
  @media screen and(min-width: 480px) {
    max-width: 480px;
  }
  @media screen and(min-width:768px) {
    max-width: 768px;
  }
  @media screen and(min-width:1200px) {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.list {
  list-style: none;
}

.link {
  font-style: normal;
  text-decoration: none;
}
