.contacts.section {
  background: $background-color;
  background: linear-gradient(
    180deg,
    $text-color 0%,
    $text-color 23%,
    $background-color 23%,
    $background-color 100%
  );
  padding-top: 30px;
  padding-bottom: 20px;

  @include mobile {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  @include tablet {
    padding-top: 40px;
    padding-bottom: 20px;

    background: linear-gradient(
      180deg,
      $text-color 0%,
      $text-color 49%,
      $background-color 49%,
      $background-color 100%
    );
  }
  @include desktop {
    padding-top: 60px;
    padding-bottom: 60px;

    background: linear-gradient(
      180deg,
      $text-color 0%,
      $text-color 21%,
      $background-color 21%,
      $background-color 100%
    );
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  gap: 20px;

  @include mobile {
    flex-wrap: wrap;
    flex-direction: row;
  }
  @include tablet {
    flex-direction: row;
    margin-bottom: 60px;
    gap: 32px;
  }
  @include desktop {
    flex-direction: row;
    margin-bottom: 60px;
    gap: 32px;
  }
}

.contacts__item {
  display: flex;
  width: 280px;
  height: 412px;

  background: $text-color;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @include mobile {
    width: calc((100% - 32px) / 2);
    height: 100%;
  }
  @include tablet {
    width: 224px;
    height: 528px;
  }
  @include desktop {
    width: 368px;
    height: 538px;
  }
}

.contacts__box {
  padding: 40px 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include tablet {
    padding: 40px 32px;
    gap: 32px;
  }
  @include desktop {
    padding: 40px;
    gap: 32px;
  }
}

.contacts__box-cafe {
  display: flex;
  width: 80px;
  height: 16px;

  align-items: center;
  justify-content: center;

  background: #f0d1a5;
  border-radius: 4px;

  @include font(500, 12px, 1.8, 0.04em);

  color: $text-color;
  margin-bottom: -4px;

  @include mobile {
    @include font(500, 16px, 1.8, 0.04em);
    width: 73px;
    height: 28px;
  }
  @include tablet {
    @include font(500, 16px, 1.8, 0.04em);
    margin-bottom: 0;
    width: 73px;
    height: 28px;
  }
  @include desktop {
    @include font(500, 16px, 1.8, 0.04em);
    margin-bottom: 0;
    width: 75.1px;
    height: 28px;
  }
}

.contacts__box-foodtruck {
  display: flex;
  width: 130px;
  height: 16px;

  align-items: center;
  justify-content: center;

  background: #c2e297;
  border-radius: 4px;

  @include font(500, 12px, 1.8, 0.04em);

  color: $text-color;
  margin-bottom: -4px;

  @include mobile {
    @include font(500, 16px, 1.8, 0.04em);
    width: 138px;
    height: 28px;
  }
  @include tablet {
    @include font(500, 16px, 1.8, 0.04em);
    margin-bottom: 0;
    width: 138px;
    height: 28px;
  }
  @include desktop {
    @include font(500, 16px, 1.8, 0.04em);
    margin-bottom: 0;
    width: 138px;
    height: 28px;
  }
}

.contacts__box-location {
  max-width: 179px;

  @include mobile {
    max-width: 250px;
  }
  @include tablet {
    max-width: 159px;
  }
  @include desktop {
    max-width: 250px;
  }
}

.contacts__box-top-text {
  @include font(500, 12px, 1.8, 0.04em);
  color: $secondary-text-color-dark;
  margin-bottom: 8px;

  @include mobile {
    @include font(500, 14px, 1.6, 0.04em);
  }
  @include tablet {
    @include font(500, 14px, 1.6, 0.04em);
    margin-bottom: 12px;
  }
  @include desktop {
    @include font(500, 16px, 1.8, 0.04em);
    margin-bottom: 8px;
  }
}

.contacts__box-text {
  @include font(500, 12px, 1.5, null);
  color: $secondary-text-color;

  @include mobile {
    @include font(500, 14px, 1.6, null);
  }
  @include tablet {
    @include font(500, 14px, 1.6, null);
  }
  @include desktop {
    @include font(500, 16px, 1.8, 0.04em);
  }
}

.contacts__box-line {
  width: 100%;
  border: 1px solid #e1e1e1;
}

.box-timing__day {
  @include font(500, 12px, 1.8, null);

  color: #000000;

  @include mobile {
    @include font(500, 14px, 1.6, null);
  }
  @include tablet {
    @include font(500, 14px, 1.6, null);
  }
  @include desktop {
    @include font(500, 16px, 1.8, 0.04em);
  }
}

.box-timing__time {
  @include font(500, 12px, 1.8, null);

  color: $pre-title-color;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  @include mobile {
    @include font(500, 14px, 1.6, null);
  }
  @include tablet {
    @include font(500, 14px, 1.6, null);
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  @include desktop {
    @include font(500, 16px, 1.8, null);
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.contacts__link {
  color: $secondary-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $title-text-color;
  }

  @include font(500, 12px, 1.5, null);

  @include mobile {
    @include font(500, 14px, 1.6, null);
  }
  @include tablet {
    @include font(500, 14px, 1.6, null);
  }
  @include desktop {
    @include font(500, 16px, 1.8, null);
  }
}

.contacts__btn {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  @include desktop {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.contacts__location-btn {
  background: #d41342;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: #b0022e;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  color: $text-color;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 161.45px;
  height: 44px;

  @include font(700, 16px, 1.3, null);

  margin-bottom: 10px;

  @include tablet {
    width: 191.45px;
    height: 44px;
    margin-right: 14.5px;
    margin-bottom: 0;
  }
  @include desktop {
    width: 198px;
    height: 44px;
    margin-right: 12px;
    margin-bottom: 0;
  }

  .contacts__icon {
    fill: $text-color;

    width: 8px;
    height: 12px;

    margin-left: 8px;

    @include tablet {
      margin-left: 13px;
    }
    @include desktop {
      margin-left: 14px;
    }
  }
}

.contacts__franchise-btn {
  background: $text-color;
  border-radius: 22px;
  border: none;
  cursor: pointer;

  color: $title-text-color;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 161px;
  height: 44px;

  @include font(700, 16px, 1.3, null);

  @include tablet {
    width: 174.05px;
    height: 44px;
  }
  @include desktop {
    width: 168px;
    height: 44px;
  }
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: $btn-hover-color;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .contacts__icon {
    width: 8px;
    height: 12px;

    margin-left: 13px;
  }
}

// --------------------       MODAL
//
// .modal-location.modal {
//   overflow-y: scroll;
// }
.modal-location.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-location.active {
  transform: translate(-50%, -50%) scale(1) rotate(360deg);
}

.modal-franchise.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}

.overlay {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

.modal-location {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;

  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: $text-color;
  transition: 0.3s all;

  background: $background-color;
  width: 100%;
  max-width: 300px;
  height: 80%;
  overflow-y: scroll;

  transition: all 250ms ease 0s;

  @include mobile {
    max-width: 400px;
    max-height: 600px;
  }
  @include tablet {
    max-width: 700px;
    max-height: 600px;
  }
  @include desktop {
    max-width: 1050px;
    max-height: 370px;
  }
}

.location__google-link {
  margin-bottom: 5px;

  width: 250px;
  height: 180px;
  @include mobile {
    width: 300px;
    height: 200px;
  }
  @include tablet {
    width: 300px;
    height: 200px;
  }
  @include desktop {
    width: 300px;
    height: 200px;
  }
}

.modal-location__content {
  display: flex;

  flex-direction: column;

  // min-height: 100%;
  transition: all 0.8s ease 0s;
}

.modal-location__content-title {
  font-family: 'Titan One';
  text-align: center;

  @include font(400, 20px, 1.13, 0.06em);

  color: $title-text-color;

  margin-bottom: 15px;
  max-width: 220px;
  @include mobile {
    max-width: 100%;
  }
  @include tablet {
    @include font(400, 25px, 1.13, 0.06em);
    margin-bottom: 25px;
  }
  @include desktop {
    @include font(400, 30px, 1.13, 0.06em);
    margin-bottom: 30px;
  }
}

.location__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  gap: 20px;

  @include tablet {
    gap: 25px;
  }
  @include desktop {
    gap: 30px;
  }
}

.location__content-item {
  display: flex;

  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.location__link {
  @include font(700, 14px, 1.3, null);
  padding: 8px;

  border-radius: 10px;

  background: $text-color;
  color: $title-text-color;

  &:hover,
  &:focus {
    background: $title-text-color;
    color: $text-color;
  }

  @include tablet {
    @include font(700, 14px, 1.3, null);
    padding: 8px;
  }
  @include desktop {
    @include font(700, 16px, 1.3, null);
    padding: 10px;
  }
}

// ----------------   franchise  Modal
//

.modal-franchise.active {
  transform: translate(-50%, -50%) scale(1) rotate(360deg);
}

.modal-franchise {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;

  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: $text-color;
  transition: 0.3s all;

  background: $background-color;
  max-height: 530px;
  height: 90%;
  width: 80vw;
  overflow-y: scroll;

  transition: all 250ms ease 0s;

  @include mobile {
    width: 360px;
    max-height: 530px;
  }
  @include tablet {
    width: 400px;
    max-height: 620px;
  }
  @include desktop {
    height: 90%;
    max-height: 680px;
    width: 535px;
  }
}

.modal-franchise__content {
  display: flex;

  flex-direction: column;
  align-items: center;

  min-height: 100%;
  transition: all 0.8s ease 0s;
}

.franchise__modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.franchise__title {
  font-family: 'Titan One';
  text-align: center;
  justify-content: center;
  text-transform: uppercase;

  color: $pre-title-color;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 200px;

  @include font(400, 16px, 1.1, null);

  @include mobile {
    @include font(400, 18px, 1.1, null);
    max-width: 300px;
  }
  @include tablet {
    @include font(400, 26px, 1.1, null);
    max-width: 340px;
  }
  @include desktop {
    @include font(400, 30px, 1.1, null);
    max-width: 440px;
  }
}

.franchise__after-title {
  color: $title-text-color;
  margin-bottom: 10px;
  max-width: 200px;

  @include font(500, 14px, 1.5, null);

  @include mobile {
    @include font(500, 14px, 1.6, null);
    max-width: 300px;
  }
  @include tablet {
    @include font(500, 16px, 1.6, null);
    max-width: 340px;
  }
  @include desktop {
    @include font(500, 18px, 1.8, null);
    max-width: 440px;
  }
}

.franchise__modal-input {
  display: block;
  width: 100%;
  height: 30px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: $text-color;

  padding-left: 10px;
  outline: transparent;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    border-color: $title-text-color;
  }

  @include mobile {
    height: 30px;
    padding-left: 12px;
  }
  @include tablet {
    height: 35px;
    padding-left: 14;
  }
  @include desktop {
    height: 40px;
    padding-left: 16px;
  }
}

.franchise__modal-label {
  display: block;
  text-align: left;

  @include font(500, 10px, 1.16, null);
  margin-bottom: 4px;

  color: $title-text-color;

  @include mobile {
    @include font(500, 11px, 1.16, null);
  }
  @include tablet {
    @include font(500, 12px, 1.16, null);
  }
  @include desktop {
    @include font(500, 14px, 1.16, null);
  }
}

.franchise__modal-fields {
  margin-bottom: 10px;
  width: 100%;
}

.franchise__modal-form .franchise__modal-comment {
  margin-bottom: 20px;
}

.franchise__input-wrap {
  position: relative;
}

.franchise__modal-text {
  display: block;
  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  height: 100px;
  padding: 10px 14px;

  resize: none;
  outline: transparent;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    border-color: $title-text-color;
  }
  &::placeholder {
    font-size: 12px;
    line-height: 1.14;

    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);

    @include tablet {
      font-size: 14px;
    }
    @include desktop {
      font-size: 14px;
      line-height: 1.16;
    }
  }

  @include tablet {
    height: 120px;
    padding: 12px 16px;
  }
  @include desktop {
    height: 120px;
    padding: 12px 16px;
  }
}

.franchise__modal-btn {
  background: $text-color;
  border-radius: 22px;
  border: none;
  cursor: pointer;

  color: $title-text-color;

  width: 110px;
  height: 30px;

  @include font(700, 12px, 1.3, null);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: $btn-hover-color;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  @include tablet {
    @include font(700, 14px, 1.3, null);

    width: 140px;
    height: 40px;
  }
  @include desktop {
    @include font(700, 16px, 1.3, null);

    width: 150px;
    height: 44px;
  }
}

.franchise__icon {
  margin-left: 10px;
  width: 6px;
  height: 10px;

  @include tablet {
    width: 6px;
    height: 10px;
  }
  @include desktop {
    width: 8px;
    height: 12px;
  }
}

.contacts-modal__close-btn {
  fill: $title-text-color;

  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $secondary-text-color-dark;
  }
}
