.customer-reviews {
  padding-bottom: 30px;
  @include tablet {
    padding-bottom: 40px;
  }
  @include desktop {
    padding-bottom: 60px;
  }
  @media screen and (max-width: 1199px) {
    padding-top: 0;
  }
}
.review-content {
  margin: 0 auto;
  position: relative;
  margin-bottom: 32px;
  width: 280;
  height: 308px;
  background: #fafafa;
  @include mobile {
    width: 440px;
    height: 200px;
    margin-left: 0;
  }
  @include tablet {
    margin: 0 auto;
    margin-bottom: 24px;
    width: 620px;
    height: 164px;
  }
  @include desktop {
    margin: 0 auto;
    margin-bottom: 32px;
    width: 968px;
    height: 138px;
  }
}
.review-content::after {
  content: '';
  width: 4px;
  height: 4px;
  background-color: #c7133e;
  border-radius: 50%;
  display: block;
  position: absolute;
  bottom: -20px;
  left: 50%;
  box-shadow: 12px 0 #c7133e, -12px 0 #c7133e;
}

.review-img {
  margin: 0 auto;
  margin-bottom: 32px;
  @include mobile {
    margin-bottom: 20px;
  }
  @include tablet {
    margin-bottom: 20px;
  }
  @include desktop {
    margin-bottom: 16px;
  }
}

.customer-review-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  color: #000000;

  position: relative;
  z-index: 2;
  top: 10px;
  left: 65px;
  max-width: 157px;

  display: inline-flex;
  text-align: center;

  background-image: -webkit-repeating-linear-gradient(
    top,
    transparent 0px,
    transparent 29px,
    #e1e1e1 29px,
    transparent 30px
  );
  //   background-image: repeating-linear-gradient(
  //     top,
  //     transparent 0px,
  //     transparent 29px,
  //     #e1e1e1 29px,
  //     transparent 30px
  //   );
  @include mobile {
    font-weight: 500;
    font-size: 14px;
    line-height: 2.14;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;

    position: relative;
    z-index: 2;
    top: 10px;
    left: 65px;
    max-width: 330px;

    display: inline-flex;
    text-align: center;

    background-image: -webkit-repeating-linear-gradient(
      top,
      transparent 0px,
      transparent 29px,
      #e1e1e1 29px,
      transparent 30px
    );
    // background-image: repeating-linear-gradient(
    //   top,
    //   transparent 0px,
    //   transparent 29px,
    //   #e1e1e1 29px,
    //   transparent 30px
    // );
  }
  @include tablet {
    font-weight: 500;
    font-size: 14px;
    line-height: 2.14;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;

    position: relative;
    z-index: 2;
    top: 10px;
    left: 51px;
    max-width: 514px;

    display: inline-flex;
    text-align: center;

    background-image: -webkit-repeating-linear-gradient(
      top,
      transparent 0px,
      transparent 29px,
      #e1e1e1 29px,
      transparent 30px
    );
    // background-image: repeating-linear-gradient(
    //   top,
    //   transparent 0px,
    //   transparent 29px,
    //   #e1e1e1 29px,
    //   transparent 30px
    // );
  }
  @include desktop {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;

    position: relative;
    z-index: 2;
    top: 10px;
    left: 109px;
    max-width: 750px;

    display: inline-flex;
    text-align: center;

    background-image: -webkit-repeating-linear-gradient(
      top,
      transparent 0px,
      transparent 29px,
      #e1e1e1 29px,
      transparent 30px
    );
    // background-image: repeating-linear-gradient(
    //   top,
    //   transparent 0px,
    //   transparent 29px,
    //   #e1e1e1 29px,
    //   transparent 30px
    // );
  }
}
.review-icon {
  position: relative;
  top: 30px;
  left: 53px;

  @include mobile {
    z-index: 1;
    position: relative;
    top: 30px;
    left: 28px;
    max-width: 54px;
    max-height: 40px;
  }
  @include tablet {
    z-index: 1;
    position: relative;
    top: 20px;
    left: 6px;
    max-width: 54px;
    max-height: 40px;
  }
  @include desktop {
    z-index: 1;
    position: relative;
    top: 32px;
    left: 72px;
  }
}

.customer {
  @include font(500, 14px, 1.86, null);
  text-align: center;
  @include tablet {
    @include font(500, 16px, 1.86, null);
  }
  @include tablet {
    @include font(500, 20px, 1.86, null);
  }
}
