
.review-content {
    width: 280;
    height: 308px;
    background: #FAFAFA;
    margin-left: 5px;
    @include mobile {
        width: 440px;
        height: 200px;
        margin-left: 0;
        background: #fafafa
    }
    @include tablet {
        width: 620px;
        height: 164px;
        background: #FAFAFA;
        margin-left: 59px;
    }
    @include desktop {
    width: 968px;
    height: 138px;
    margin-left: 100px;
        // display: flex;
        // align-items: center;
        // display: block;
        // margin: 0 auto;
    background: #FAFAFA;
    }
    
}

.review-img {
    margin-left: 103px;
    margin-bottom: 32px;
    @include mobile {
        margin-left: 190px;
        margin-bottom: 20px;
    }
    @include tablet {
        margin-left: 341px;
        margin-bottom: 20px;
    }
    @include desktop {
        margin-left: 543px;
        margin-bottom: 16px;
    }
}
// .review-text {
//     position: relative;
//     z-index: 2;
//     top: 10px;
//     left: 65px;
//     max-width: 157px;
//     @include mobile {
//         position: relative;
//         z-index: 2;
//         top: 10px;
//         left: 65px;
//         max-width: 330px;
//     }
//     @include tablet {
//         position: relative;
//         z-index: 2;
//         top: 10px;
//         left: 51px;
//         max-width: 514px;
//     }
//     @include desktop {
//         position: relative;
//         z-index: 2;
//         top: 10px;
//         left: 109px;
//         max-width: 750px;
//     }
// }
.customer-review-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 2.58;
    text-align: center;
    color: #000000;

    position: relative;
    z-index: 2;
    top: 10px;
    left: 65px;
    max-width: 157px;

    display: inline-flex;
        text-align: center;
    
        background-image: -webkit-repeating-linear-gradient(top, transparent 0px, transparent 29px, #E1E1E1 29px, transparent 30px);
        background-image: repeating-linear-gradient(top, transparent 0px, transparent 29px, #E1E1E1 29px, transparent 30px);
    @include mobile {
        font-weight: 500;
        font-size: 14px;
        line-height: 2.14;
        text-align: center;
        letter-spacing: 0.04em;
        color: #000000;

        position: relative;
        z-index: 2;
        top: 10px;
        left: 65px;
        max-width: 330px;

        display: inline-flex;
            text-align: center;
        
            background-image: -webkit-repeating-linear-gradient(top, transparent 0px, transparent 29px, #E1E1E1 29px, transparent 30px);
            background-image: repeating-linear-gradient(top, transparent 0px, transparent 29px, #E1E1E1 29px, transparent 30px);
    }
    @include tablet {
        font-weight: 500;
        font-size: 14px;
        line-height: 2.14;
        text-align: center;
        letter-spacing: 0.04em;
        color: #000000;
        
        position: relative;
        z-index: 2;
        top: 10px;
        left: 51px;
        max-width: 514px;
        
        display: inline-flex;
        text-align: center;
        
        background-image: -webkit-repeating-linear-gradient(top, transparent 0px, transparent 29px, #E1E1E1 29px, transparent 30px);
        background-image: repeating-linear-gradient(top, transparent 0px, transparent 29px, #E1E1E1 29px, transparent 30px);
    }
    @include desktop {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.88;
        text-align: center;
        letter-spacing: 0.04em;
        color: #000000;

        position: relative;
        z-index: 2;
        top: 10px;
        left: 109px;
        max-width: 750px;
        
        display: inline-flex;
        text-align: center;
        
        background-image: -webkit-repeating-linear-gradient(top, transparent 0px, transparent 29px, #E1E1E1 29px, transparent 30px);
        background-image: repeating-linear-gradient(top, transparent 0px, transparent 29px, #E1E1E1 29px, transparent 30px);
    }
    
}
.review-icon {

    position: relative;
    top: 30px;
    left: 53px;

    @include mobile {
        z-index: 1;
        position: relative;
        top: 30px;
        left: 28px;
        max-width: 54px;
        max-height: 40px;
    }
    @include tablet {
        z-index: 1;
        position: relative;
        top: 20px;
        left: 6px;
        max-width: 54px;
        max-height: 40px;
    }
    @include desktop {
        z-index: 1;
        position: relative;
        top: 32px;
        left: 72px;

    }
}
.review-box {
    position: relative;
//     content: '';
//     display: flex;
//     margin-top: 16px;
//     margin-left: 144px;
//     width: 4px;
//     height: 4px;
//     background: #C7133E;
//     border-radius: 50%;
//     @include mobile {
//         position: relative;
//         content: '';
//         display: flex;
//         margin-top: 16px;
//         margin-left: 230px;
//         width: 4px;
//         height: 4px;
//         background: #C7133E;
//         border-radius: 50%;
    // }
//     @include tablet {
//         position: relative;
//         content: '';
//         display: flex;
//         margin-top: 4px;
//         margin-left: 382px;
//         width: 4px;
//         height: 4px;
//         background: #C7133E;
//         border-radius: 50%;
//     }
//     @include desktop {
//         position: relative;
//         content: '';
//         display: flex;
//         margin-top: 16px;
//         margin-left: 584px;
//         width: 4px;
//         height: 4px;
//         background: #C7133E;
//         border-radius: 50%;
//     }
}
// .review-box::before {
//     position: absolute;
//     content: '';
//     top: 0;
//     margin-left: -10px;
//     display: flex;
//     width: 4px;
//     height: 4px;
//     background: #C7133E;
//     border-radius: 50%;
// }
.review-box::after {
    content: "";
    width: 4px;
    height: 4px;
    background-color: #C7133E;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: -20px;
    left: 50%;
    box-shadow: 12px 0 #C7133E, -12px 0 #C7133E;
}
.customer {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.85;
    text-align: center;
    color: #000000;
    margin-top: 16px;
}