.customer-reviews {
  position: relative;
  padding-bottom: 40px;
  @include tablet {
    padding-bottom: 70px;
  }
  @include desktop {
    padding-bottom: 100px;
  }
  @media screen and (max-width: 1199px) {
    padding-top: 0;
  }
}
.review-content {
  padding: 43px 58px 26px 65px;
  position: relative;
  margin-bottom: 32px;
  min-width: 280;
  max-height: 308px;
  background: #fafafa;
  @include mobile {
    padding: 0;
    width: 440px;
    height: 200px;
  }
  @include tablet {
    margin: 0 auto;
    margin-bottom: 24px;
    width: 620px;
    height: 164px;
  }
  @include desktop {
    margin-bottom: 32px;
    width: 968px;
    height: 138px;
  }
}
.review-content::after {
  content: '';
  width: 4px;
  height: 4px;
  background-color: #c7133e;
  border-radius: 50%;
  display: block;
  position: absolute;
  bottom: -14px;
  left: 50%;
  box-shadow: 12px 0 #c7133e, -12px 0 #c7133e;
  @include tablet {
    bottom: -8px;
  }
  @include desktop {
    bottom: -14px;
  }
}

.review-img {
  margin: 0 auto;
  margin-bottom: 32px;
  @include mobile {
    margin-bottom: 20px;
  }
  @include tablet {
    margin-bottom: 20px;
  }
  @include desktop {
    margin-bottom: 16px;
  }
}

.customer-review-text {
  @include font(700, 12px, 2.55, 0.02em);
  text-align: center;
  color: #000000;
  position: relative;
  min-width: 157px;

  background-image: -webkit-repeating-linear-gradient(
    to bottom,
    transparent 0px,
    transparent 29px,
    #e1e1e1 29px,
    transparent 30px
  );
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 0px,
    transparent 29px,
    #e1e1e1 29px,
    transparent 30px
  );
  @include mobile {
    @include font(700, 14px, 2.14, 0.04em);

    z-index: 2;
    top: 37px;
    left: 65px;
    width: 330px;
  }
  @include tablet {
    @include font(700, 14px, 2.16, 0.02em);
    left: 51px;
    width: 514px;
    top: 37px;
  }
  @include desktop {
    @include font(500, 16px, 1.86, 0.04em);

    left: 109px;
    width: 750px;
  }
}
.review-icon {
  position: absolute;
  top: 30px;
  left: 53px;

  @include mobile {
    z-index: 1;
    top: 30px;
    left: 28px;
  }
  @include tablet {
    z-index: 1;
    top: 20px;
    left: 6px;
  }
  @include desktop {
    z-index: 1;
    top: 32px;
    left: 72px;
  }
}

.customer {
  @include font(700, 14px, 1.86, null);
  text-align: center;
  @include tablet {
    @include font(null, 16px, 1.86, null);
  }
  @include tablet {
    @include font(null, 20px, 1.86, null);
  }
}

.container .swiper-button-next::after,
.container .swiper-button-prev::after {
  opacity: 0.5;
  color: $title-text-color;
  line-height: 2;
}
.container .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
}
.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main {
  background-image: url(../images/homej.jpg);
  background-repeat: no-repeat;
  background-color: transparent;
}
.swiper-pagination-custom,
.swiper-pagination-fraction {
  margin: 0;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  @include tablet {
    padding-bottom: 20px;
  }
  @include desktop {
    padding-bottom: 50px;
  }
}
