$title-text-color: #d41443;
$pre-title-color: #ffa5ba;
$text-color: #ffffff;
$secondary-text-color: #907e82;
$btn-hover-color: #ecebeb;
$background-color: #fff5f6;
$secondary-text-color-dark: #000000;
