<section class="advantages section">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-list list">
      <li class="advantages-list__item">
        <svg class="advantages-list__icon" width="50" height="50">
          <use href="./images/icon.svg#icon-milk"></use>
        </svg>
        <h3 class="advantages-list__title">721</h3>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item">
        <svg class="advantages-list__icon" width="50" height="50">
          <use href="./images/icon.svg#icon-apples"></use>
        </svg>
        <h3 class="advantages-list__title">16 kg</h3>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item">
        <div class="advantages-list__icon">
          <picture>
            <source srcset="./images/heart.png 1x, ./images/heartx2.png 2x" />
            <img src="./images/heart.png" alt="heart"
          /></picture>
        </div>
        <h3 class="advantages-list__title">84</h3>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
