<section class="contacts section">
  <div class="container contacts__section">
    <h2 class="contacts__title visually-hidden">Contacts</h2>
    <ul class="contacts__list list">
      <li class="contacts__item">
        <div class="contacts__box">
          <p class="contacts__box-cafe">CAFE</p>
          <div class="contacts__box-location">
            <p>Chicago</p>
            <span class="contacts__box-text"
              >Fusce ut velit laoreet, tempus arcu molestie vulputate</span
            >
          </div>
          <div class="contacts__box-line"></div>
          <ul class="contacts__box-timing list">
            <li class="box-timing__day">Monday - Friday</li>
            <li class="box-timing__time">06:00 AM - 10:00 PM</li>
            <li class="box-timing__day">Saturday - Sunday</li>
            <li class="box-timing__time">08:00 AM - 16:00 PM</li>
          </ul>
          <div class="contacts__box-line"></div>
          <ul class="contacts__contact list">
            <li class="contacts__contact-item">
              <a href="tel:+610383766284" class="contacts__link link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts__contact-item">
              <a href="mailto:noreply@envato.com" class="contacts__link link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__box">
          <p class="contacts__box-foodtruck">FOODTRUCK</p>
          <div class="contacts__box-location">
            <p>Los Angeles</p>
            <span class="contacts__box-text"
              >Fusce ut velit laoreet, tempus arcu molestie vulputate</span
            >
          </div>
          <div class="contacts__box-line"></div>
          <ul class="contacts__box-timing list">
            <li class="box-timing__day">Monday - Friday</li>
            <li class="box-timing__time">06:00 AM - 10:00 PM</li>
            <li class="box-timing__day">Saturday - Sunday</li>
            <li class="box-timing__time">08:00 AM - 16:00 PM</li>
          </ul>
          <div class="contacts__box-line"></div>
          <ul class="contacts__contact list">
            <li class="contacts__contact-item">
              <a href="tel:+610383766284" class="contacts__link link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts__contact-item">
              <a href="mailto:noreply@envato.com" class="contacts__link link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__box">
          <p class="contacts__box-cafe">CAFE</p>
          <div class="contacts__box-location">
            <p>New York</p>
            <span class="contacts__box-text"
              >Fusce ut velit laoreet, tempus arcu molestie vulputate</span
            >
          </div>
          <div class="contacts__box-line"></div>
          <ul class="contacts__box-timing list">
            <li class="box-timing__day">Monday - Friday</li>
            <li class="box-timing__time">06:00 AM - 10:00 PM</li>
            <li class="box-timing__day">Saturday - Sunday</li>
            <li class="box-timing__time">08:00 AM - 16:00 PM</li>
          </ul>
          <div class="contacts__box-line"></div>
          <ul class="contacts__contact list">
            <li class="contacts__contact-item">
              <a href="tel:+610383766284" class="contacts__link link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts__contact-item">
              <a href="mailto:noreply@envato.com" class="contacts__link link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="contacts__btn">
      <button type="button" class="contacts__location-btn">
        Our Locations
        <svg class="contacts__icon" width="7" height="10">
          <use href="./images/icon.svg#icon-bracket-white"></use>
        </svg>
      </button>
      <button type="button" class="contacts__franchise-btn">
        Franchise
        <svg class="contacts__icon" width="7" height="10">
          <use href="./images/icon.svg#icon-bracket"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
