<section class="contacts section">
  <div class="container">
    <h2 class="contacts__title visually-hidden">Contacts</h2>
    <ul class="contacts__list list">
      <li class="contacts__item">
        <div class="contacts__box">
          <div class="contacts__box-name">
            <span>CAFE</span>
          </div>
          <div>
            <p>Chicago</p>
            <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div>
            <p>Monday - Friday</p>
            <p>06:00 AM - 10:00 PM</p>
          </div>
          <div>
            <a href="tel:+61(0) 383 766 284" class="link">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com" class="link"
              >noreply@envato.com</a
            >
          </div>
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__box"></div>
      </li>
      <li class="contacts__item">
        <div class="contacts__box"></div>
      </li>
    </ul>
    <div class="contacts__btn">
      <button type="button" class="contacts__location-btn">
        Our Locations
        <svg class="contacts__icon" width="4.43" height="8">
          <use href="./images/icon.svg#icon-bracket"></use>
        </svg>
      </button>
      <button type="button" class="contacts__franchise-btn">
        Franchise
        <svg class="contacts__icon" width="4.43" height="8">
          <use href="./images/icon.svg#icon-bracket"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
