<section class="contacts section" id="about">
  <div class="container contacts__section">
    <h2 class="contacts__title visually-hidden">Contacts</h2>
    <ul class="contacts__list list">
      <li class="contacts__item" data-aos="flip-down">
        <div class="contacts__box">
          <p class="contacts__box-cafe">CAFE</p>
          <div class="contacts__box-location">
            <p class="contacts__box-top-text">Chicago</p>
            <span class="contacts__box-text"
              >Fusce ut velit laoreet, tempus arcu molestie vulputate</span
            >
          </div>
          <div class="contacts__box-line"></div>
          <ul class="contacts__box-timing list">
            <li class="box-timing__day">Monday - Friday</li>
            <li class="box-timing__time">06:00 AM - 10:00 PM</li>
            <li class="box-timing__day">Saturday - Sunday</li>
            <li class="box-timing__time">08:00 AM - 16:00 PM</li>
          </ul>
          <div class="contacts__box-line"></div>
          <ul class="contacts__contact list">
            <li class="contacts__contact-item">
              <a href="tel:+610383766284" class="contacts__link link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts__contact-item">
              <a href="mailto:noreply@envato.com" class="contacts__link link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__item" data-aos="flip-down">
        <div class="contacts__box">
          <p class="contacts__box-foodtruck">FOODTRUCK</p>
          <div class="contacts__box-location">
            <p class="contacts__box-top-text">Los Angeles</p>
            <span class="contacts__box-text"
              >Fusce ut velit laoreet, tempus arcu molestie vulputate</span
            >
          </div>
          <div class="contacts__box-line"></div>
          <ul class="contacts__box-timing list">
            <li class="box-timing__day">Monday - Friday</li>
            <li class="box-timing__time">06:00 AM - 10:00 PM</li>
            <li class="box-timing__day">Saturday - Sunday</li>
            <li class="box-timing__time">08:00 AM - 16:00 PM</li>
          </ul>
          <div class="contacts__box-line"></div>
          <ul class="contacts__contact list">
            <li class="contacts__contact-item">
              <a href="tel:+610383766284" class="contacts__link link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts__contact-item">
              <a href="mailto:noreply@envato.com" class="contacts__link link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__item" data-aos="flip-down">
        <div class="contacts__box">
          <p class="contacts__box-cafe">CAFE</p>
          <div class="contacts__box-location">
            <p class="contacts__box-top-text">New York</p>
            <span class="contacts__box-text"
              >Fusce ut velit laoreet, tempus arcu molestie vulputate</span
            >
          </div>
          <div class="contacts__box-line"></div>
          <ul class="contacts__box-timing list">
            <li class="box-timing__day">Monday - Friday</li>
            <li class="box-timing__time">06:00 AM - 10:00 PM</li>
            <li class="box-timing__day">Saturday - Sunday</li>
            <li class="box-timing__time">08:00 AM - 16:00 PM</li>
          </ul>
          <div class="contacts__box-line"></div>
          <ul class="contacts__contact list">
            <li class="contacts__contact-item">
              <a href="tel:+610383766284" class="contacts__link link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts__contact-item">
              <a href="mailto:noreply@envato.com" class="contacts__link link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="contacts__btn">
      <button
        type="button"
        class="contacts__location-btn js-open-modal"
        data-modal="4"
      >
        Our Locations
        <svg class="contacts__icon" width="8" height="12">
          <use href="./images/icon.svg#icon-bracket-white"></use>
        </svg>
      </button>
      <button
        type="button"
        class="contacts__franchise-btn js-open-modal"
        data-modal="5"
      >
        Franchise
        <svg class="contacts__icon" width="8" height="12">
          <use href="./images/icon.svg#icon-bracket"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
<!-- Modal Location-->
<div class="modal-location modal" data-modal="4">
  <svg
    class="modal__cross js-modal-close contacts-modal__close-btn"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
    />
  </svg>
  <div class="modal-location__content">
    <p class="modal-location__content-title">Where can you find us</p>
    <ul class="location__content list">
      <li class="location__content-item">
        <a
          href="https://goo.gl/maps/S1q2KBtKo1VKeCyo9"
          class="location__link link"
          target="_blank"
          >Chicago</a
        >
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d132763.47817244832!2d-87.67537017283802!3d41.86732849011514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2cd9457eb429%3A0xfab6a8d24dcceb21!2sCone%20Gourmet%20Ice%20Cream!5e0!3m2!1sru!2sua!4v1658877590712!5m2!1sru!2sua"
          width="400"
          class="location__google-link"
          height="300"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </li>
      <li class="location__content-item">
        <a
          href="https://goo.gl/maps/NEPsByRia6TkooyS7"
          class="location__link link"
          target="_blank"
          >Los Angeles</a
        >
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26383.823176081445!2d-118.21032555135201!3d33.8013426970813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dd36abd9826831%3A0x8fa911e73c87fb5c!2sLong%20Beach%20Ice%20Cream!5e0!3m2!1sru!2sua!4v1658877467333!5m2!1sru!2sua"
          width="400"
          class="location__google-link"
          height="300"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </li>
      <li class="location__content-item">
        <a
          href="https://goo.gl/maps/BpDaKst1wphvNFEq9"
          class="location__link link"
          target="_blank"
          >New York</a
        >
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20366.214203631658!2d-73.95908680315883!3d40.69287358236277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25b2a4fd39a27%3A0x598d4925e5bb1cf8!2sIce%20Cream%20House!5e0!3m2!1sru!2sua!4v1658875868107!5m2!1sru!2sua"
          width="400"
          class="location__google-link"
          height="300"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </li>
    </ul>
  </div>
</div>
<div class="overlay js-overlay-modal"></div>
<!-- Modal Franchise-->
<div class="modal-franchise modal" data-modal="5">
  <svg
    class="modal__cross js-modal-close contacts-modal__close-btn"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
    />
  </svg>
  <div class="modal-franchise__content">
    <p class="franchise__title">
      One of the nation’s most beloved ice cream franchises is rapidly expanding
    </p>
    <p class="franchise__after-title">
      Leave your details, we will call you back
    </p>
    <form class="franchise__modal-form">
      <div class="franchise__modal-fields">
        <label for="user-name" class="franchise__modal-label">Name</label>
        <div class="franchise__input-wrap">
          <input
            type="text"
            name="user-name"
            id="user-name"
            class="franchise__modal-input"
            placeholder=" "
            required
          />
        </div>
      </div>
      <div class="franchise__modal-fields">
        <label for="user-tel" class="franchise__modal-label">Phone</label>
        <div class="franchise__input-wrap">
          <input
            type="tel"
            name="user-tel"
            id="user-tel"
            class="franchise__modal-input"
            placeholder=" "
            required
          />
        </div>
      </div>
      <div class="franchise__modal-fields">
        <label for="user-email" class="franchise__modal-label">E-mail</label>
        <div class="franchise__input-wrap">
          <input
            type="email"
            name="user-email"
            id="user-email"
            class="franchise__modal-input"
            placeholder=" "
          />
        </div>
      </div>
      <div class="franchise__modal-fields franchise__modal-comment">
        <label for="modal-text" class="franchise__modal-label">Comment</label>
        <textarea
          class="franchise__modal-text"
          name="modal-text"
          id="modal-text"
          placeholder="Enter text"
          cols="30"
          rows="10"
        ></textarea>
      </div>
      <button type="submit" class="franchise__modal-btn">
        Send<svg class="franchise__icon" width="8" height="12">
          <use href="./images/icon.svg#icon-bracket"></use>
        </svg>
      </button>
    </form>
  </div>
</div>
<div class="overlay js-overlay-modal"></div>
