<section class="customer-reviews section">
  <div class="container">
    <h2 class="customer-review-title visually-hidden">Customer-reviews</h2>
    <div class="reviews">
      <div class="rev-slide">
        <img
          srcset="
            /src/images/customer-reviews1.jpg 1x,
            /src/images/customer-reviews1.jpg 2x
          "
          src="/src/images/customer-reviews1.jpg"
          alt="Клієнт"
          width="85"
          height="85"
          class="review-img"
        />
        <div class="review-content">
          <div class="review-icon">
            <svg width="54" height="40">
              <use href="/src/images/icon.svg#icon-99"></use>
            </svg>
          </div>
          <!-- <div class="review-text"> -->
          <p class="customer-review-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
          <!-- </div> -->
        </div>
        
        <p class="customer">Emily, Los Angeles</p>
      
      <!-- <div class="rev-slide">
        <img 
        srcset="/src/images/customer-reviews2.jpg 1x, /src/images/customer-reviews2.jpg 2x"
        src="/src/images/customer-reviews2.jpg" 
        alt="Клієнт"
        width="85px"
        height="85px"
        class="review-img">
        <div class="review-content">
      
          <div class="review-icon">
            <svg width="54" height="40">
              <use href="/src/images/icon.svg#icon-99"></use>
            </svg>
          </div> -->
      <!-- <div class="review-text"> -->
      <!-- <p class="customer-review-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
            nulla quam
            nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p> -->
      <!-- </div> -->

      <!-- </div>
        <div class="review-box"></div>
        <h3 class="customer">Emily, Los Angeles</h3>
      </div> -->
      <!-- <div class="rev-slide">
        <img <img 
        srcset="/src/images/customer-reviews3.jpg 1x, /src/images/customer-reviews3.jpg 2x"
        src="/src/images/customer-reviews3.jpg" 
        alt="Клієнт"
        width="85px"
        height="85px"
        class="review-img"> 
        <div class="review-content">
      
          <div class="review-icon">
            <svg width="54" height="40">
              <use href="/src/images/icon.svg#icon-99"></use>
            </svg>
          </div> -->
      <!-- <div class="review-text"> -->
      <!-- <p class="customer-review-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
            nulla quam
            nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p> -->
      <!-- </div> -->

      <!-- </div>
        <div class="review-box"></div>
        <h3 class="customer">Emily, Los Angeles</h3>
      </div> -->
    </div>
  </div>
</section>
