<footer class="footer section">
  <div class="container footer-container">
    <div>
      <p class="footer-text">homemade ice cream made</p>
      <p class="footer-title">with passion</p>
    </div>
    <div>
      <ul class="social-list">
        <li class="social-icon-item">
          <a class="social-link" href="/src/index.html" target="_blank">
            <svg class="social-icon" width="32px" height="32px">
              <use href="/src/images/icon.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="social-icon-item">
          <a class="social-link" href="/src/index.html" target="_blank">
            <svg class="social-icon" width="32px" height="32px">
              <use href="/src/images/icon.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social-icon-item">
          <a class="social-link" href="/src/index.html" target="_blank">
            <svg class="social-icon" width="32px" height="32px">
              <use href="/src/images/icon.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer-contac-text">
        Feel free to contact
        <a href="tel:+610383766284" class="footer-contac-link"
          >+61 (0) 383 766 284</a
        >
      </p>
    </div>
  </div>
  <div class="copyright-container container">
    <p class="copyright-text">© 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
