<section class="gallery section">
  <div class="container">
    <h2 hidden>Gallery</h2>

    <img class="gallery__img-1" srcset="./images/gallery/gallery1.jpg 1x,
      ./images/gallery/gallery1@2x.jpg 2x" 
      src="./images/gallery/gallery1.jpg" alt="gallery-foto">

    <img class="gallery__img-2" srcset="./images/gallery/gallery2.jpg 1x,
      ./images/gallery/gallery2@2x.jpg 2x" 
      src="./images/gallery/gallery2.jpg" alt="gallery-foto">

    <img class="gallery__img-3" srcset="./images/gallery/gallery3.jpg 1x,
      ./images/gallery/gallery3@2x.jpg 2x" 
      src="./images/gallery/gallery3.jpg" alt="gallery-foto">

    <img class="gallery__img-4" srcset="./images/gallery/gallery4.jpg 1x,
      ./images/gallery/gallery4@2x.jpg 2x" 
      src="./images/gallery/gallery4.jpg" alt="gallery-foto">

    <img class="gallery__img-5" srcset="./images/gallery/gallery5.jpg 1x,
      ./images/gallery/gallery5@2x.jpg 2x" 
      src="./images/gallery/gallery5.jpg" alt="gallery-foto">

    <img class="gallery__img-6" srcset="./images/gallery/gallery6.jpg 1x,
      ./images/gallery/gallery6@2x.jpg 2x" 
      src="./images/gallery/gallery6.jpg" alt="gallery-foto">

    <img class="gallery__img-7" srcset="./images/gallery/gallery7.jpg 1x,
      ./images/gallery/gallery7@2x.jpg 2x" 
      src="./images/gallery/gallery7.jpg" alt="gallery-foto">

    <img class="gallery__img-8" srcset="./images/gallery/gallery8.jpg 1x,
      ./images/gallery/gallery8@2x.jpg 2x" 
      src="./images/gallery/gallery8.jpg" alt="gallery-foto">

    <img class="gallery__img-9" srcset="./images/gallery/gallery9.jpg 1x,
      ./images/gallery/gallery9@2x.jpg 2x" 
      src="./images/gallery/gallery9.jpg" alt="gallery-foto">

    <img class="gallery__img-10" srcset="./images/gallery/gallery10.jpg 1x,
      ./images/gallery/gallery10@2x.jpg 2x" 
      src="./images/gallery/gallery10.jpg" alt="gallery-foto">
  </div>
</section>
